#baner {
  background: #180BE3 ;
  margin-top: 100px;
}

.text_slide {
  width: 100%;
  height: 100%
  margin: auto ;
  position: relative;
  top: 60px;
  padding: 30px;
  font-style: bold ;
}

.item {
    height: 100%;
    position: relative;
    z-index: 1;
}

.text_slide .titre_slide_text {
  font-weight: bolder ;
  color:#fff ;
  font-size: 50px;
  text-align: center ;
  margin-top: 10px;
}

.text_slide .parag_slide {
  text-align: center ;
  color: #fff ;
}

.val_slide {
  height: 450px;
  background-size: cover ;
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transform: scale(1.3);
}

.slick-active .val_slide {
  transform: scale(1);
}

.slick-dots{
  position: absolute;
  bottom: 10px;
}
.slick-dots > li> button{
  font-size: 0px;
  line-height: 0;
  display: block;
  width: 50px!important;;
  height: 10px !important;
  padding: 5px;
  background: #fff;
  border-radius: 0%;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
}

.slick-dots > .slick-active > button{
  font-size: 0px;
  line-height: 0;
  display: block;
  width: 50px;
  height: 10px;
  padding: 5px;
  background: #070335;
  border-radius: 0%;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
}
.slick-dots li button:before,.slick-dots > .slick-active > button:before{
  font-size: 15px;
  color: transparent !important;
  opacity: 0 ;
}



@media all and (max-width:992px) {
  #baner{
    margin-top: 50px;
  }
}

@media all and (max-width:768px) {
  .text_slide{
    top: 40px;
    width:100%;
  }
  .text_slide .titre_slide_text {
    font-size: 18px;
  }
  
  .text_slide .parag_slide {
    font-size: 12px;
  }
}

